src/main/mule/world-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="767f1a74-b605-438f-b03f-e678798c144b" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="351874f5-ad5c-487a-909c-e74681b616df" basePath="/api" >
		<http:request-connection host="worldtimeapi.org"/>
	</http:request-config>
	<flow name="world-demo-apiFlow" doc:id="a2157a8e-5eba-4e06-8c7a-afece2bbefbe" >
		<http:listener doc:name="Listener" doc:id="858fb7f8-ad41-404b-8834-a04e5a073f3a" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<logger level="INFO" doc:name="Logger" doc:id="371abbfb-23bc-4cbe-92c2-662b53ced642" message="flow is executed successfully ++++++++++++"/>
		<http:request method="GET" doc:name="Request" doc:id="13a31a79-4aa6-442f-b8ca-b785c4b92611" config-ref="HTTP_Request_configuration" path="/timezone/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="35b1ff13-a366-4056-afc6-c0145afe7803" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="c97d4ad2-8239-4340-887b-6331fe53c172" />
	</flow>
</mule>
